@charset "utf-8";
/* CSS Document */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#loginRegisterForm {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

#loginRegisterForm .card-body {
  text-align: center;
}

#combinedForm button {
  width: 100%;
}

#message {
  margin-top: 10px;
}

#loginRegisterForm a {
  color: #007bff;
  cursor: pointer;
}
